:root{
    --generalColor--: rgb(29, 161, 184);
}

.navbar {
    height: auto !important;
    background-color: var(--generalColor--) !important;
}

.whiteText{
    color: white !important;
}

.menuItem:hover{
    color: rgb(98, 161, 179) !important;
    cursor: pointer;
}

.navbar-brand{
    font-size: 24px !important;
}